.makeup .hll {background-color: #ffffcc}
.makeup {background-color: #ffffff}.makeup .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.makeup .bp {font-style: italic; font-weight: bold; } /* :name_builtin_pseudo */
.makeup .c {color: #888; font-style: italic; } /* :comment */
.makeup .c1 {color: #888; font-style: italic; } /* :comment_single */
.makeup .ch {color: #888; font-style: italic; } /* :comment_hashbang */
.makeup .cm {color: #888; font-style: italic; } /* :comment_multiline */
.makeup .cp {color: #888; font-style: normal; font-weight: bold; } /* :comment_preproc */
.makeup .cpf {color: #888; font-style: normal; font-weight: bold; } /* :comment_preproc_file */
.makeup .cs {color: #888; font-style: normal; font-weight: bold; } /* :comment_special */
.makeup .dl {color: #666; font-style: italic; } /* :string_delimiter */
.makeup .err {border: #FF0000; } /* :error */
.makeup .fm {color: #666; font-style: italic; font-weight: bold; } /* :name_function_magic */
.makeup .k {font-weight: bold; text-decoration: underline; } /* :keyword */
.makeup .kc {font-weight: bold; text-decoration: underline; } /* :keyword_constant */
.makeup .kd {font-style: italic; font-weight: bold; text-decoration: underline; } /* :keyword_declaration */
.makeup .kn {font-weight: bold; text-decoration: underline; } /* :keyword_namespace */
.makeup .kp {font-weight: bold; text-decoration: underline; } /* :keyword_pseudo */
.makeup .kr {font-weight: bold; text-decoration: underline; } /* :keyword_reserved */
.makeup .kt {font-weight: bold; text-decoration: underline; } /* :keyword_type */
.makeup .nb {font-style: italic; font-weight: bold; } /* :name_builtin */
.makeup .nc {color: #666; font-style: italic; font-weight: bold; } /* :name_class */
.makeup .nf {color: #666; font-style: italic; font-weight: bold; } /* :name_function */
.makeup .nn {color: #666; font-style: italic; font-weight: bold; } /* :name_namespace */
.makeup .no {color: #666; font-style: italic; font-weight: bold; } /* :name_constant */
.makeup .nv {color: #666; font-style: italic; font-weight: bold; } /* :name_variable */
.makeup .ow {font-weight: bold; } /* :operator_word */
.makeup .s {color: #666; font-style: italic; } /* :string */
.makeup .s1 {color: #666; font-style: italic; } /* :string_single */
.makeup .s2 {color: #666; font-style: italic; } /* :string_double */
.makeup .sa {color: #666; font-style: italic; } /* :string_affix */
.makeup .sb {color: #666; font-style: italic; } /* :string_backtick */
.makeup .sc {color: #666; font-style: italic; } /* :string_char */
.makeup .sd {color: #666; font-style: italic; } /* :string_doc */
.makeup .se {color: #666; font-style: italic; } /* :string_escape */
.makeup .sh {color: #666; font-style: italic; } /* :string_heredoc */
.makeup .si {color: #666; font-style: italic; } /* :string_interpol */
.makeup .sr {color: #666; font-style: italic; } /* :string_regex */
.makeup .ss {color: #666; font-style: italic; } /* :string_symbol */
.makeup .sx {color: #666; font-style: italic; } /* :string_other */
.makeup .sx {color: #666; font-style: italic; } /* :string_sigil */
.makeup .vc {color: #666; font-style: italic; font-weight: bold; } /* :name_variable_class */
.makeup .vg {color: #666; font-style: italic; font-weight: bold; } /* :name_variable_global */
.makeup .vi {color: #666; font-style: italic; font-weight: bold; } /* :name_variable_instance */
.makeup .vm {color: #666; font-style: italic; font-weight: bold; } /* :name_variable_magic */
